:local(.tooltip) {
    font-size: 1rem;
    z-index: 10;
    height: 10rem;
    width: 50%;
    position: absolute;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border-top: 10px solid #33C3F0;
    overflow-y: scroll;
    direction: ltr;
}