:local(.root){
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border-top: 10px solid #33C3F0;
}

:local(.label){
    font-weight: normal;
}

:local(.input){
    width: 100%;
}

:local(.inputWeight){
    width: 100%;
    margin-bottom: 2rem;
}