:local(.streetname){
    width: 78%;
    margin-right: 2%;
    margin-bottom: 1rem;
}

:local(.number){
    width: 20%;
    margin-bottom: 1rem;
}

:local(.place){
    width: 100%;
    margin-bottom: 1rem;
}

:local(.timePickerLeft){
    width: 49%;
    margin-right: 2%;
    margin-bottom: 3rem;
}

:local(.timePickerRight){
    width: 49%;
    margin-bottom: 3rem;
}

.rc-time-picker-input{
    font-size: 1.5rem;
}


:local(.address){
    float: left;
    cursor: pointer;
}

:local(.list) {
    width: 90%;
    height: 20rem;
    background: #FFFFFF;
    padding: 1em;
    margin: auto;
    border-top: 10px solid #33C3F0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
    overflow: scroll;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size: 12px;
    margin-bottom: 1rem;
    direction: ltr;
}

:local(.root) {
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border-top: 10px solid #33C3F0;
    direction: rtl;
}

:local(.form){
    margin-bottom: 0;
    direction: ltr;
}

:local(.submit) {
    background-color: #33C3F0;
    border-color: #33C3F0;
    color: white;
    width: 47%;
    float: left;
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    margin-bottom: 2rem;
}

:local(.delete) {
    width: 47%;
    float: right;
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    margin-bottom: 2rem;

}

:local(.headLineList){
    text-decoration: underline;
}