:local(.root) {
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border-top: 10px solid #33C3F0;
}

:local(.submit) {
    background-color: #33C3F0;
    border-color: #33C3F0;
    color: white;
    float: left;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
}

:local(.delete) {
    width: 43%;
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    margin-top: 1rem;

}

:local(.list) {
    width: 90%;
    height: 19.5rem;
    background: #FFFFFF;
    padding: 1em;
    margin: auto;
    margin-top: 2rem;
    border-top: 10px solid #33C3F0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.8);
    overflow: scroll;
}

:local(.form){
    width: 90%;
    margin-bottom: 2rem;
}

:local(.headLineList){
    text-decoration: underline;
}

:local(.label){
    font-weight: normal;
}

:local(.depot){
    margin-top: 1.1rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

:local(.streetname){
    width: 78%;
    margin-right: 2%;
}

:local(.number){
    width: 20%;
}

:local(.place){
    width: 100%;
    margin-bottom: 0rem;
}
